extraDeployments:
#  - name: my-extra-deployment
#    repoURL: https://some-git-repo.com
#    path: .
#    targetRevision: main
#    namespace: argocd
auth:
#  - name: github-creds
#    stringData:
#      url: "https://github.com"
#      username: "someone"
#      password: "github_personal_access_token"
genesis:
  repoURL: "https://github.com/juno-fx/Genesis-Deployment.git"
  chartPath: ./
  version: "v1.4.0"
  config:
    host:
    http_scheme: https
traefik:
  global:
    # telemetry - it is enabled by default
    sendAnonymousUsage: false
  enabled: true
  chart: traefik
  # Used when the repoURL is git-based, eg.
  # chartPath: charts/ingress-nginx
  chartPath:
  repoURL: "https://traefik.github.io/charts"
  version: 37.1.1
  config:
    service:
      type: LoadBalancer
    logs:
      access:
        enabled: true
    providers:
      # This enables the Gateway API - we want it
      kubernetesGateway:
        enabled: true
    # This deploys a default gateway - we don't want it, we want to explictly control it!
    gateway:
      enabled: false
gpu:
  # helm repo to pull the gpu-poerator chart from
  repoURL: "https://helm.ngc.nvidia.com/nvidia"
  chart: gpu-operator
  # Used when the repoURL is git-based, eg.
  # chartPath: deployments/gpu-operator
  chartPath:
  enabled: true
  version: v24.9.0
  config:
    nfd:
      enabled: true
    devicePlugin:
      config:
        name: gpu-config
        default: any
    daemonsets:
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
        - key: CriticalAddonsOnly
          operator: Exists
        - key: juno-innovations.com/workstation
          operator: Exists
          effect: NoSchedule
        - key: juno-innovations.com/headless
          operator: Exists
          effect: NoSchedule
      node-feature-discovery:
        worker:
          tolerations:
            - key: "node-role.kubernetes.io/master"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: "node-role.kubernetes.io/control-plane"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: nvidia.com/gpu
              operator: Exists
              effect: NoSchedule
            - key: CriticalAddonsOnly
              operator: Exists
            - key: juno-innovations.com/workstation
              operator: Exists
              effect: NoSchedule
            - key: juno-innovations.com/headless
              operator: Exists
              effect: NoSchedule
  slicing:
    any:
      version: v1
      flags:
        migStrategy: none
      sharing:
        timeSlicing:
          renameByDefault: false
          failRequestsGreaterThanOne: false
          resources:
            - name: nvidia.com/gpu
              replicas: 4
