extraDeployments:
#  - name: my-extra-deployment
#    repoURL: https://some-git-repo.com
#    path: .
#    targetRevision: main
#    namespace: argocd
auth:
#  - name: github-creds
#    stringData:
#      url: "https://github.com"
#      username: "someone"
#      password: "github_personal_access_token"
genesis:
  repoURL: "https://github.com/juno-fx/Genesis-Deployment.git"
  chartPath: ./
  version: "v1.7.0"
  config:
    host:
    http_scheme: https
ingress:
  enabled: true
  chart: ingress-nginx
  # Used when the repoURL is git-based, eg.
  # chartPath: charts/ingress-nginx
  chartPath:
  repoURL: "https://kubernetes.github.io/ingress-nginx"
  version: 4.12.1
  config:
    controller:
      kind: DaemonSet
gpu:
  # helm repo to pull the gpu-poerator chart from
  repoURL: "https://helm.ngc.nvidia.com/nvidia"
  chart: gpu-operator
  # Used when the repoURL is git-based, eg.
  # chartPath: deployments/gpu-operator
  chartPath:
  enabled: true
  version: v24.9.0
  config:
    # this is early-access, however it avoids a major pitfall
    # Without it, it's impossible to upgrade the underlying OS without downtime on ALL gpu nodes/workstations!
    # https://docs.nvidia.com/datacenter/cloud-native/gpu-operator/latest/gpu-driver-configuration.html
    driver:
      nvidiaDriverCRD:
        enabled: true
    nfd:
      enabled: true
    devicePlugin:
      config:
        name: gpu-config
        default: any
    daemonsets:
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
        - key: CriticalAddonsOnly
          operator: Exists
        - key: juno-innovations.com/workstation
          operator: Exists
          effect: NoSchedule
        - key: juno-innovations.com/headless
          operator: Exists
          effect: NoSchedule
      node-feature-discovery:
        worker:
          tolerations:
            - key: "node-role.kubernetes.io/master"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: "node-role.kubernetes.io/control-plane"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: nvidia.com/gpu
              operator: Exists
              effect: NoSchedule
            - key: CriticalAddonsOnly
              operator: Exists
            - key: juno-innovations.com/workstation
              operator: Exists
              effect: NoSchedule
            - key: juno-innovations.com/headless
              operator: Exists
              effect: NoSchedule
  slicing:
    any:
      version: v1
      flags:
        migStrategy: none
      sharing:
        timeSlicing:
          renameByDefault: false
          failRequestsGreaterThanOne: false
          resources:
            - name: nvidia.com/gpu
              replicas: 4
