extraDeployments:
#  - name: my-extra-deployment
#    url: https://some-git-repo.com
#    path: .
#    targetRevision: main
#    namespace: argocd
auth:
#  - name: github-creds
#    stringData:
#      url: "https://github.com"
#      username: "someone"
#      password: "github_personal_access_token"
genesis:
  url: "https://github.com/juno-fx/Genesis-Deployment.git"
  chartPath: .
  version: "v2.0.0"
  config:
    host:

gateway:
  enabled: true
  chart: gateway-helm
  tlsSecretName: tls-orion
  chartPath:
  # Used when the url is git-based, eg. for https://github.com/envoyproxy/gateway.git :
  # chartPath: charts/gateway-helm
  chartPath:
  url: "docker.io/envoyproxy"
  version: v1.5.0
  config:
    controller:
      kind: DaemonSet
    config:
      envoyGateway:
        extensionApis:
          enableBackend: true
gpu:
  # helm repo to pull the gpu-poerator chart from
  url: "https://helm.ngc.nvidia.com/nvidia"
  chart: gpu-operator
  # Used when the url is git-based, eg.
  # chartPath: deployments/gpu-operator
  chartPath:
  enabled: true
  version: v24.9.0
  config:
    nfd:
      enabled: true
    devicePlugin:
      config:
        name: gpu-config
        default: any
    daemonsets:
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
        - key: CriticalAddonsOnly
          operator: Exists
        - key: juno-innovations.com/workstation
          operator: Exists
          effect: NoSchedule
        - key: juno-innovations.com/headless
          operator: Exists
          effect: NoSchedule
      node-feature-discovery:
        worker:
          tolerations:
            - key: "node-role.kubernetes.io/master"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: "node-role.kubernetes.io/control-plane"
              operator: "Equal"
              value: ""
              effect: "NoSchedule"
            - key: nvidia.com/gpu
              operator: Exists
              effect: NoSchedule
            - key: CriticalAddonsOnly
              operator: Exists
            - key: juno-innovations.com/workstation
              operator: Exists
              effect: NoSchedule
            - key: juno-innovations.com/headless
              operator: Exists
              effect: NoSchedule
  slicing:
    any:
      version: v1
      flags:
        migStrategy: none
      sharing:
        timeSlicing:
          renameByDefault: false
          failRequestsGreaterThanOne: false
          resources:
            - name: nvidia.com/gpu
              replicas: 4
