# Juno Cluster Bootstrap
auth:
  ### ArgoCD repo authentications
  # This section allows you to configure authentication for
  # ArgoCD to access private repositories. This is a direct
  # mapping to the ArgoCD repo-creds secrets. The stringData
  # section is a yaml pass-through. So you don't need to
  # use username and password, you can use any of the supported
  # authentication methods supported by ArgoCD.
  # https://argo-cd.readthedocs.io/en/stable/operator-manual/argocd-repo-creds-yaml/
  # - name: github-creds
  #   stringData:
  #      url: "https://github.com"
  #      username: "someone"
  #      password: "github_personal_access_token"

# Genesis Deployment Configuration
genesis:
  ### Genesis Helm repo  (REQUIRED)
  url: "REPLACE-GENESIS-URL"
  ### Genesis Helm repo branch to deploy  (REQUIRED)
  version: "REPLACE-GENESIS-VERSION"
  config:
    ### Container registry containing the Juno images  (REQUIRED)
    registry: junoinnovations
    ### Image Pull Secret (Uncomment if using)
    # image_pull_secret:
    ### hostname of the server: my-genesis.example.com  (REQUIRED)
    host: REPLACE-HOST
    ### defaults to https
    http_scheme: https
    ### Environment Variables
    env:
    # You must have either Google or AWS Cognito configured.
    # Uncomment one of the following (REQUIRED)
    ### Google OAuth (Uncomment If using)
    #  GOOGLE_CLIENT_ID:
    #  GOOGLE_CLIENT_SECRET:
    ### AWS Cognito (Uncomment If using)
    #  COGNITO_CLIENT_ID:
    #  COGNITO_CLIENT_SECRET:
    #  COGNITO_ISSUER:
    ### LDAP (Uncomment if using)
    #  LDAP_URI:
    #  LDAP_BIND_DN:
    #  LDAP_BIND_PASSWORD:
    #  LDAP_SEARCH_BASE:
    #  LDAP_EMAIL_ATTRIBUTE:
    #  LDAP_USERNAME_ATTRIBUTE:
    #
    ### Optional, used to suppoort LDAPS with self-signed certificates.
    ### To make use of it, pass a Base64-encoded CA certificate that your host certs had been signed with.
    #  LDAPS_CA_CERT_BASE64:
    ### Basic Auth (uncomment if using)
    ### This is the option we provide for local development.
    ### It is insecure and not recommended for production use.
    #
    ### The BASIC_AUTH_EMAIL should match titan.email here for one of the users
      BASIC_AUTH_EMAIL: REPLACE-EMAIL
      BASIC_AUTH_PASSWORD: REPLACE-PASSWORD
    ### Owner Configuration
    titan:
      # Username of the owner (REQUIRED)
      owner: REPLACE-OWNER
      # POSIX UID of the owner (REQUIRED)
      uid: REPLACE-UID
      # Email of the owner. This should be the email used by either
      # of the above configured authentication services. (REQUIRED)
      email: REPLACE-EMAIL

# Traefik Overrides
# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik:
  url: "REPLACE-TRAEFIK-URL"
  version: REPLACE-TRAEFIK-VERSION

# GPU Operator Overrides
# https://github.com/NVIDIA/gpu-operator/blob/main/deployments/gpu-operator/values.yaml
gpu:
  url: "REPLACE-GPU-URL"
  version: REPLACE-GPU-VERSION
