{{- if eq .Values.gateway.enabled true }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - "resources-finalizer.argocd.argoproj.io"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: envoy-gateway-system
  sources:
    - repoURL: "{{ .Values.gateway.url }}"
      chart: "{{ .Values.gateway.chart }}"
      targetRevision: {{ .Values.gateway.version }}
      helm:
        values: |-
          {{- include "omitNulls" .Values.gateway.config | nindent 10 }}
        releaseName: envoy-gateway
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
