{{- if eq .Values.gateway.enabled true }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: orion
  namespace: argocd
spec:
  gatewayClassName: orion-default
  listeners:
    - name: http
      port: 80
      protocol: HTTP
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      port: 443
      protocol: HTTPS
      # hostname: "*.example.com"
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: "{{ .Values.gateway.tlsSecretName }}"
      allowedRoutes:
        namespaces:
          from: All
{{- end }}
