apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: genesis
  namespace: argocd
  finalizers:
    - "resources-finalizer.argocd.argoproj.io"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  sources:
    - repoURL: {{ .Values.genesis.url }}
{{- if .Values.genesis.chartPath }}
      path: {{ .Values.genesis.chartPath }}
{{- else }}
      chart: {{ .Values.genesis.chart }}
{{- end }}
      targetRevision: {{ .Values.genesis.version }}
      helm:
        releaseName: genesis
        values: |-
          {{- include "omitNulls" .Values.genesis.config | nindent 10 }}
        parameters:
          - name: "env.NEXTAUTH_URL"
            value: "{{ .Values.genesis.config.http_scheme }}://{{ .Values.genesis.config.host }}/api/auth"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
