{{- if eq .Values.gpu.enabled true }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: gpu-operator
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gpu-operator
  namespace: argocd
  finalizers:
    - "resources-finalizer.argocd.argoproj.io"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: gpu-operator
  sources:
    - repoURL: "{{ .Values.gpu.url }}"
{{- if .Values.gpu.chartPath }}
      path: {{ .Values.gpu.chartPath }}
{{- else }}
      chart: {{ .Values.gpu.chart }}
{{- end }}
      targetRevision: "{{ .Values.gpu.version }}"
      helm:
        values: |-
          {{- include "omitNulls" .Values.gpu.config | nindent 10 }}
        releaseName: gpu-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gpu-config
  namespace: gpu-operator
data:
  {{- range $key, $value := .Values.gpu.slicing }}
    {{ $key }}: |-
      {{- toYaml $value | toString | nindent 6 }}
  {{- end }}
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: gpu-mount
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/dev/dri"
{{- end }}
