{{- if eq .Values.traefik.enabled true }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - "resources-finalizer.argocd.argoproj.io"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  sources:
    - repoURL: "{{ .Values.traefik.url }}"
{{- if .Values.traefik.chartPath }}
      path: {{ .Values.traefik.chartPath }}
{{- else }}
      chart: {{ .Values.traefik.chart }}
{{- end }}
      targetRevision: "{{ .Values.traefik.version }}"
      helm:
        values: |-
          {{- include "omitNulls" .Values.traefik.config | nindent 10 }}
        releaseName: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
